<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253849820706-5njga3gcr0s3307efrvoingm2bgkma49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253849820706-5njga3gcr0s3307efrvoingm2bgkma49</string>
	<key>API_KEY</key>
	<string>AIzaSyAu07gFBDyVJncZ8w2GFH3sGBIHMfse0cY</string>
	<key>GCM_SENDER_ID</key>
	<string>253849820706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HristijanStojchevski.Homework1</string>
	<key>PROJECT_ID</key>
	<string>elderlyhelper-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>elderlyhelper-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:253849820706:ios:2bea095b2da82a8b3af47b</string>
</dict>
</plist>
